.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root {
  height: 100vh;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: thistle;
}

.comments-list {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 240, 240);
}

.footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: thistle;
}